<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="config" />
          <add segment="database" />
          <add segment="tmp_sessions" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Block env variants" stopProcessing="true">
          <match url="^.*\.env(\..*)?$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
